
.icon {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    width: 120px;
    padding: 10px 12px;
    border-radius: 3px;
}


@media screen and (max-width: 820px) {

    .icon {

        width: 100px;
        padding: 8px 10px;
        
    }
}