
.coverText {
    padding: 50px 18% 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coverText img {
    width: 30%;
    border-radius: 45%;
}

.text {
    width: 55%;
}


.text h3 {
    font-size: 25px;
    color: white;
}

#name {
    font-size: 65px;
    font-weight: 700;
}

#typewriter {
    font-size: 35px;
}

@media screen and (max-width: 1210px) {
    

    .coverText img {
        width: 35%;
    }

    #name {
        font-size: 55px;
        font-weight: 700;
    }

    #typewriter {
        font-size: 30px;
    }

}

@media screen and (max-width: 914px) {


    .coverText {
        justify-content: center;
        gap: 30px;
        text-align: center;
        padding-top: 20px;
    }

    .text {
        width: 90%;
    }


    #name {
        font-size: 45px;
        font-weight: 700;
    }

    #typewriter {
        font-size: 20px;
    }

    .text h3 {
        font-size: 20px;
    }

}

@media screen and (max-width: 730px) {

    .coverText {
        padding: 50px 3%;
        overflow: hidden;
    }

    .text {
        max-width: 80%;
    }

    #name {
        padding: 0;
    }


    .coverText img {
        width: 40%;
    }
}

@media screen and (max-width: 300px) {

    .text {
        width: 90%;
    }

    .text h3 {
        font-size: 18px;
    }


    #name {
        font-size: 30px;
    }

    #typewriter {
        font-size: 20px;
    }

    .coverText {
        gap: 80px;
    }
}