.navBar {
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
}

#name {
    font-size: 2rem;
    color: white;
}


.list {
    display: flex;
    gap: 15px;
    color: white;
}

a {
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
}