.projectsContainer {
    margin: 150px auto;
}

.projectsContainer h3 {
    text-align: center;
    margin-bottom: 70px;
}

.projects {
    width: 100%;
    text-align: center;
}

.projectShowcaseContainer {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    width: 65%;
    margin: 30px auto;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    padding: 14px 18px;
    align-items: center;
}

.projectAbout {
    width: 50%;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
}

#project {
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}